<div class="row msg-submition">
  <%= form_with(model: [@room, @room.messages.build], id: "new_comment") do |form| %>
    <div class="form-group col-xs-10 col-sm-11">
      <%= form.label :message, class: "sr-only"%>
      <%= form.text_area :message, class: "form-control msg-input", placeholder: "Message ##{@room.name}", rows: 1 %>
    </div>

    <div class="actions col-xs-2 col-sm-1">
      <%= button_tag( class: "btn") do %>
        <i class="fa fa-send-o"></i>
      <% end %>
    </div>

  <% end %>
</div>
