<div class="container rooms">
  <h1>Chat groups</h1>
  <div class="row btn-new-rooms">
    <%= link_to '<span class="glyphicon glyphicon-plus-sign"></span> Create a new chat group'.html_safe, new_room_path, class: "btn col-xs-12 col-sm-offset-9 col-sm-3" %>
  </div>
  <%= render @rooms %>
</div>
